replicaCount: 2

image:
  repository: hannumannamdev1992/nestjs-app
  tag: "REPLACE_ME"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

probes:
  liveness:
    initialDelaySeconds: 20
    periodSeconds: 30
  readiness:
    initialDelaySeconds: 10
    periodSeconds: 15
